@{
    ViewData["Title"] = "Home Page";
}

<div class="card-footer text-center">
    <h3> View list of students</h3>
    <a asp-action="StudentList" class="btn btn-primary">List</a>

</div>
<div class="card-footer text-center">
    <h3> Create new  students</h3>
    <a asp-action="Create" class="btn btn-primary">Create </a>

</div>

